// @import '../../node_modules/antd/lib/style/themes/default.less';

$border-radius-base: 3px;
$border-radius-sm: 2px;
$shadow-color: rgba(0, 0, 0, 0.05);
$shadow-1-down: 4px 4px 40px $shadow-color;
$border-color-split: #f4f4f4;
$border-color-base: #e5e5e5;
$font-size-base: 12px;
$text-color: #666;
$text-color-dark: rgba(255, 255, 255, 0.65);
$hover-color: #f9f9fc;
$primary-color: #1890ff;
$dark-menu: #263238;
$dark-menu-selected: rgba(64, 80, 88, 0.8);
